<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dubbo.indetity.mapper.UserMapper">
    <sql id="allColumns">
        u.user_id, u.user_name, u.password
    </sql>
    <select id="getUserSelective" parameterType="com.dubbo.indetity.po.User" resultType="com.dubbo.indetity.po.User">
        SELECT
        <include refid="allColumns" />
        FROM user u WHERE 1 = 1
        <if test="userName != null and userName != ''">
            AND u.user_name LIKE CONCAT('%', #{userName}, '%')
        </if>
        <if test="password != null and password != ''">
            AND u.password =#{password}
        </if>
    </select>
    <select id="getUserByPrimary" parameterType="java.lang.Integer" resultType="com.dubbo.indetity.po.User">
        SELECT <include refid="allColumns" /> FROM User as u WHERE u.user_id =#{userId}
    </select>
    <select id="getUserByName" parameterType="java.lang.String" resultType="com.dubbo.indetity.po.User">
        SELECT <include refid="allColumns" /> FROM User as u WHERE u.user_name =#{userName}
        limit 1
    </select>
</mapper>
